<div class="col-md-4 border-right">
    <div class="p-3">
      <div class="d-flex align-items-center justify-content-between">
        <h3 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Helvetica, sans-serif; font-weight: 700; font-size: 20px; line-height: 24px; color: #e7e9ea;">Messages</h3>
        <div class="fs-6">
          <i id="gear-icon" class="bi bi-gear me-3" style="cursor: pointer;"></i>
          <i class="bi bi-envelope-at"></i>
        </div>
      </div>
      
      <% if (!selectedUsers || selectedUsers.length === 0) { %>
        <br id="break-tag">
        <div id="welcome-message">
          <h4 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Helvetica, sans-serif; font-weight: 800; font-size: 31px; line-height: 36px; color: #e7e9ea;">Welcome to your inbox!</h4>
          <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 15px; line-height: 20px; color: #71767b;">Search for a user and have private conversations with them.</p>
          <button class="btn p-3" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Helvetica, sans-serif; font-weight: 700; font-size: 17px; line-height: 20px; color: #ffffff; background-color: #1d9bf0; border-radius: 50px;">Write a message</button>
        </div>
      <% } else { %>
        <div id="selected-users" class="p-2" style="display: block;">
          <div class="p-2 mb-1">
            <div class="direct-search-input-container">
              <i class="bi bi-search me-2"></i>
              <input type="text" class="form-control direct-search-input" placeholder="Search Direct Messages">
            </div>
          </div>
          <% selectedUsers.forEach(function(user) { %>
            <div class="user-container d-flex align-items-center justify-content-between mb-3 p-2" style="background-color:#202327;" onclick="selectUser('<%= user._id %>', '<%= user.username %>')" data-user-id="<%= user._id %>">
              <div class="d-flex align-items-center">
                <div class="me-3">
                  <img src="" alt="<%= user.username %>" class="rounded-circle" style="width: 40px; height: 40px;">
                </div>
                <div>
                  <span class="d-block" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, Helvetica, sans-serif; font-weight: 500; font-size: 15px; line-height: 20px; color: #e7e9ea;">@<%= user.username %></span>
                </div>
              </div>
              <div class="three-dots-icon-container">
                <i class="bi bi-three-dots" data-bs-toggle="popover"></i>
              </div>
            </div>
          <% }) %>
        </div>
      <% } %>
    </div>
  </div>
  